[Unit]
Description=Zerotier One Service
Wants=network-online.target
After=network-online.target

[Container]
AddDevice=/dev/net/tun
Network=host
AddCapability=NET_ADMIN
AddCapability=SYS_ADMIN
Volume=zerotier-one.volume:/var/lib/zerotier-one
Pull=newer
Image=quay.io/zyclonite/zerotier:latest

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target